<div class="col-8 col-md-9 col-lg-9 pr-0 pb-2">
    <textarea class="form-control text-center" rows="2" readonly>{{id}}. {{burger_name}}</textarea>
</div>
<div class="col-4 col-md-3 col-lg-3 pb-2 align-self-center text-center">
    <button type="button" class="btn btn-sm btn-success devour-burger" data-id="{{id}}">
        Devour It!
    </button>
</div>